/* Canberra CSS, first Project Phoenix-era Special CSS. May or may not be yet another Sivityigans reference... */

body
{
	background: url(legacy_background_canberra.jpg); /* Legacy (Unsupported) browsers */
	background: -moz-linear-gradient(top, rgb(237,170,66) 0%, rgb(242, 180, 109) 100%); /* FF 3.6-15 */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(242,180,109)), color-stop(100%,rgb(0, 0, 0))); /* Chrome 2-9, Safari 4-5 */
	background: -webkit-linear-gradient(top, rgb(237,170,66) 0%,rgb(242,180,109) 100%); /* Chrome 10-25, Safari 5.1-6 */
	background: -o-linear-gradient(top, rgb(237,170,66) 0%,rgb(242,180,109) 100%); /* Opera 11.10-11.50 */
	background: -ms-linear-gradient(top, rgb(237,170,66) 0%,rgb(242,180,109) 100%); /* IE10 beta */
	background: linear-gradient(to bottom, rgb(237,170,66) 0%,rgb(242,180,109) 100%); /* W3C, IE10+, FF16+, Chrome 26+, Opera 12+, Safari 7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EDAA42', endColorstr='#F2B46D',GradientType=0 ); /* IE 5.5-8 */
	background-repeat: repeat-x;
	background-color: rgb(242, 180, 109); /* fixes white-void issue on firefox along with white-background issue on frontpage 2003 */
}
