@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2c2f33;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.icon {
    text-align: center;
    width: 70px;
    font-size: 45px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    margin: 10px;
    background-color: #23272a;
    box-shadow: 5px 5px 1px #212228;
}

.icon img {
    border-radius: 10px;
}

.underconstruction {
    color: #ba1a18;
    text-align: center;
    width: 570px;
    font-size: 45px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    margin: 10px;
    background-color: #23272a;
    box-shadow: 5px 5px 1px #212228;
}

.mainheader {
    padding-top: 10px;
    font-size: 35px;
    text-align: center;
    position: absolute;
    top: 15px;
    left: 95px;
}

.links {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

.links a {
    float: none;
    display: block;
    margin-bottom: 10px;
    background-color: #23272a;
    box-shadow: 5px 5px 1px #212228;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    text-align: right;
}

.links h1 {
    float: none;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    background-color: #23272a;
    box-shadow: 5px 5px 1px #212228;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 25px;
}
